.hello-msg{
    font-size: 18px;
    margin-right:20px;
    color:white;
  }
.navbar-nav, .navbar-brand {
  margin: 0 auto; /* Устанавливаем отступы по горизонтали для центрирования */
  display: flex; /* Устанавливаем flex-контейнер для элементов списка */
  justify-content: center; /* Выравниваем элементы по центру контейнера */
  align-items: center; /* Выравниваем элементы по вертикали в контейнере */
}
.container {
  max-width: 1000px; /* Задаем максимальную ширину контейнера */
  margin: 0 auto; /* Выравниваем контейнер по центру */
}
