{% extends 'costumer/base.html '%}

{% block content %}
<div class="conteiner mb-5">
    <div class="row-justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h1>О нас</h1>
        </div>
    </div>
    <div class="row-justify-content-center mt-1">
        <div class="card col-md-6 col-sm-12 offset-md-3 p-3 text-center">
            <p>Читатели ищут на странице «о компании» ответ на вопрос «чем вы можете быть мне полезны?», поэтому писать сухие факты и цифры нет смысла — лучше подчеркнуть преимущества на фоне конкурентов. Кофе за чекин? Бесплатная доставка? Скидка фанам в Facebook? Упаковка из переработанного сырья? Отчисляете часть прибыли в благотворительный фонд? Копите на офис в Майами?</p>
            <p>Страница «о нас» нужна и интернет-магазинам. В противном случае приходится смотреть на копирайт (год создания) и искать отзывы. А ведь можно облегчить задачу, создав хорошую, продающую страницу о компании и собрав своеобразный FAQ (ответы на часто задаваемые вопросы).</p>
            <p>Попробуйте выразить принципы работы, философию бизнеса и тотчас найдете единомышленников. Чем более незаурядно вы это сделаете, тем больший резонанс вызовете. И самое главное — суметь кратко выразить суть. Нужен не слоган (хотя он тоже не помешает), а позиционирование. И вписать его нужно в поле description (метатег страницы), чтобы всем было ясно и светло на душе :)</p>

        </div>
    </div>
</div>
{% endblock content %}