{% extends 'costumer/base.html' %}
{% load static %}

{% block content %}
<style>
body {
  background-image: url("{% static 'costumer/images/fonindex2.jpg' %}");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
#example .new { opacity: 0; }
#example .div_opacity {
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    opacity: 1;
}

}
</style>

<div id="example" style="width: 800px; margin-left: 15px; display: none; margin-top:70px;">
Мы - команда профессионалов в области гастрономии и доставки еды, которые смогли создать перспективный проект, предназначенный для тех, кто ценит вкусную и качественную еду.

Наша цель - предложить нашим клиентам широкий выбор блюд, приготовленных из свежих и качественных ингредиентов, а также обеспечить быструю и надежную доставку.

Мы работаем только с проверенными поставщиками, чтобы гарантировать свежесть и качество всех наших ингредиентов. Наша команда состоит из профессиональных поваров и опытных курьеров, которые делают все возможное, чтобы ваша еда была доставлена вовремя и в том виде, в котором вы ее ожидаете.

Мы убеждены, что каждый наш клиент заслуживает только самого лучшего, поэтому мы стараемся предоставить ему идеальный опыт заказа и доставки еды. Мы ценим ваше время и вашу доверительность, поэтому делаем все возможное, чтобы каждый заказ был выполнен быстро и качественно.

Мы гордимся тем, что наш проект не только перспективный, но и успешный. Мы получаем множество положительных отзывов от наших клиентов и продолжаем развиваться, чтобы предложить им еще больше вкусных и качественных блюд.

Мы благодарим вас за выбор нашей компании и готовы сделать все возможное, чтобы удовлетворить ваши потребности и ожидания в области доставки еды.
</div>

<h1>Наш офис</h1>
    <h2>Мы работаем по всему Казахстану</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5475478.866232171!2d62.42010457058275!3d47.92528616110686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91007ecfca947%3A0x5f7b842fe4b30e1b!2z0JrQsNC30LDRhdGB0YLQsNC9!5e0!3m2!1sru!2skz!4v1675113585510!5m2!1sru!2skz" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $.fn.animate_Text = function() {
      var string = this.text();
      return this.each(function() {
        var $this = $(this);
        $this.html(string.replace(/./g, '<span class="new">$&</span>'));
        $this.find('span.new').each(function(i, el) {
          setTimeout(function() {
            $(el).addClass('div_opacity');
          }, 20 * i);
        });
      });
    };
    $('#example').show();
    $('#example').animate_Text();
  });
</script>
{% endblock %}
