<h3>Сброс пороля осуществлен</h3>

<p>Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.к</p>

<p> Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым зарегистрировались, и проверьте папку со спамом.</p>

<div style="background-color: #ffffcc; padding: 10px;">
    <strong style="color: #ff0000;">Важно!</strong> Скопируйте ссылку без <code>http://example.com</code> и вставьте с приставкой <code>http://127.0.0.1:8000/</code>
</div>
